import { Component, Input, ViewEncapsulation } from '@angular/core';
import { HateoasCollection } from 'ng-maggle/hateoas/hateoas-collection.model';
import { FormBuilder } from '@angular/forms';
import { {{ entity|ucfirst }}Service } from 'filter.ts{ entity|lcfirst|snaked(';
import 'rxjs/add/operator/debounceTime';
import 'rxjs/add/operator/distinctUntilChanged';

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-filter',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-filter.html',
    encapsulation: ViewEncapsulation.None,
    styleUrls: ['../../../assets/scss/components/_filter.scss'],
    host: { 'class': 'ml-filter {{ entity|lcfirst|snaked('-') }}-filter' }
})
export class {{ entity|ucfirst }}Filter {
    @Input() hateoasCollection: HateoasCollection;
    filterForm: any;
    private _subscribers: any[] = [];

    constructor(private formBuilder: FormBuilder, private {{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {};

    ngOnInit() {
        this._subscribers.push(this.{{ entity|lcfirst }}Service.getCollection().subscribe(hateoasCollection => {
            this.hateoasCollection.collection = hateoasCollection.collection;
            this.hateoasCollection.pager = hateoasCollection.pager;
            this.hateoasCollection.params = hateoasCollection.params;
        }));
        this.filterForm = this.formBuilder.group({
        {% for field in resource.filterFields|keys -%}
        {{ '    ' }}{{ field|replace({'.':'_'}) }} : []{{ loop.last ? '' : ',' }}
        {% endfor -%}
        });

        for (let key in this.filterForm.controls) {
            this.filterForm.controls[key].valueChanges
                .debounceTime(200)
                .distinctUntilChanged()
                .subscribe(
                        value => {
                            if (!value) {
                                delete this.hateoasCollection.params[key];
                            } else {
                                this.hateoasCollection.params[key] = value;
                            }
                            this.getList();
                        }
                );
        }

    }

    ngOnDestroy() {
        for (let index in this._subscribers) {
            this._subscribers[index].unsubscribe();
        }
    }

    onSort(param: string) {
        this.hateoasCollection.setOrder(param);
        this.getList();
    }

    getList() {
        this.{{ entity|lcfirst }}Service.getCollection(this.hateoasCollection.params).subscribe(hateoasCollection => {
            this.hateoasCollection.collection = hateoasCollection.collection;
            this.hateoasCollection.pager = hateoasCollection.pager;
            this.hateoasCollection.params = hateoasCollection.params;
        });
    }
}
