<md-card class="filter">
    <md-card-title color="primary">{{ '{{ \'filter.label\'|translate }}'|raw }}</md-card-title>
    <md-card-content>
        <form [formGroup]="filterForm">
        {% for field in resource.filterFields|keys %}
            <md-input [placeholder]="{{ ('\''~entity|snaked('-')~'.filter.'~field|snaked('-')~'\'|translate')|raw }}" [formControl]="filterForm.controls['{{ field|replace({'.':'_'}) }}']" class="col s{{ (12/resource.filterFields|length)|round(0, 'floor') }}"></md-input>
        {% endfor %}
        </form>
    </md-card-content>
</md-card>
