import { Component, ViewEncapsulation } from '@angular/core';
import {ActivatedRoute, Router} from '@angular/router';
import {HateoasCollection} from 'ng-maggle/hateoas/hateoas-collection.model';
import { {{ entity|ucfirst }}Service } from 'list.ts{ entity|lcfirst|snaked(';
import { IdPipe } from 'ng-maggle/pipes/id';

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-list',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-list.html',
    encapsulation: ViewEncapsulation.None,
    styleUrls: ['../../../assets/scss/components/_list.scss'],
    host: { 'class': 'ml-list {{ entity|lcfirst|snaked('-') }}-list' }
})
export class {{ entity|ucfirst }}List {
    group: string;
    hateoasCollection: HateoasCollection;
    private subscribers: any[] = [];

    constructor(private route: ActivatedRoute, private router: Router,
                private {{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {};

    ngOnInit() {
        this.subscribers.push(this.route.data.map(data => data['group']).subscribe(group => this.group = group));
        this.subscribers.push(this.{{ entity|lcfirst }}Service.getCollection().subscribe(data => this.hateoasCollection = data));
    }

    ngOnDestroy() {
        for (let index in this.subscribers) {
            this.subscribers[index].unsubscribe();
        }
    }

    navigateTo(id: string) {
        let idPipe = new IdPipe;

        this.router.navigate(['../show', idPipe.transform(id)], {relativeTo: this.route});
    }
}
