<div class="{{ entity|lcfirst|snaked('-') }}-list" *ngIf="hateoasCollection">
    <{{ entity|lcfirst|snaked('-') }}-filter [hateoasCollection]="hateoasCollection"></{{ entity|lcfirst|snaked('-') }}-filter>

    <table>
        <thead>
            <tr {{ entity|lcfirst|snaked('-') }}-result-heading [group]="group"></tr>
        </thead>

        <tbody>
        <tr *ngFor="let entity of hateoasCollection.collection" {{ entity|lcfirst|snaked('-') }}-result (click)="navigateTo(entity.id)" [group]="group" [entity]="entity"></tr>
        </tbody>
    </table>
    <pagination [hateoasCollection]="hateoasCollection" [modelService]="{{ entity }}Service"></pagination>
</div>
