{% for propertyName, property in resource.properties %}
{%- if propertyName == 'translations' %}
    <{{ resource.translationClass|lcfirst|snaked('-') }}-result-heading #child{{ loop.index }} *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}" [group]="group"></{{ resource.translationClass|lcfirst|snaked('-') }}-result-heading>
{%- elseif property.type not in ['string', 'number', 'boolean', 'array'] %}
    {% if property.type|lower != entity|lower %}
    <{{ property.type|lcfirst|snaked('-') }}-result-heading #child{{ loop.index }} *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}" [group]="group"></{{ property.type|lcfirst|snaked('-') }}-result-heading>
    {% endif %}
{%- else %}
    <th *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}">{{ ('{{ \''~entity|snaked('-')~'.field.'~propertyName|snaked('-')~'.label\'|translate }}')|raw }}</th>
{% endif %}

{% endfor %}