import { Component, Input, ViewContainerRef, ViewChildren } from '@angular/core';
import { {{ entity|ucfirst }} } from 'result.ts{ entity|lcfirst|snaked(';
import { AppState } from '../../app.service';
{% set children = [] %}
{%- for propertyName, property in resource.properties %}
{%- if property.type not in ['string', 'number', 'boolean'] and property.isCollection == false %}
{%- set children = children|merge([loop.index]) %}
{%- endif %}
{%- endfor -%}
{{ "\n" -}}

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-result, [{{ entity|lcfirst|snaked('-') }}-result]',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-result.html',
    styleUrls: ['../../../assets/scss/components/_result.scss'],
    host: { 'class': 'ml-result {{ entity|lcfirst|snaked('-') }}-result' }
})
export class {{ entity|ucfirst }}Result {
    @Input() entity: {{ entity|ucfirst }};
    @Input() group: string;
    @Input() inList: boolean;
{% if children != [] %}
    @ViewChildren('child{{ children|join(", child")|raw }}', {read: ViewContainerRef}) results: ViewContainerRef[];
{% endif %}

    constructor(private appState: AppState) {};

{% if children != [] %}
    ngAfterViewInit() {
        this.removeParentTags();
    }
{% endif %}

{% if children != [] %}
    removeParentTags() {
        this.results.forEach((entityViewContainerRef) => {
            let resultElement = entityViewContainerRef.element.nativeElement;
            for (let element of resultElement.children) {
                resultElement.insertAdjacentElement('afterend', element);
            }
            resultElement.parentNode.removeChild(resultElement);
        });
    }
{% endif -%}
}
