<div *ngIf="inList">
{% for propertyName, property in resource.properties %}
{%- if propertyName == 'translations' %}
        <span *mlField="[entity, group, '{{ propertyName }}']" class="ml-field translations">{{ '{{ entity.translations[appState.get(\'locale\')].title }}' }}</span>
{%- elseif property.type not in ['string', 'number', 'boolean', 'array'] %}
{% if property.isCollection %}
        <ul *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}">
            <li *ngFor="let {{ property.type|lcfirst }} of entity.{{ propertyName }}|iterable">
                <{{ property.type|lcfirst|snaked('-') }}-result [inList]="true" [group]="group" [entity]="{{ property.type|lcfirst }}"></{{ property.type|lcfirst|snaked('-') }}-result>
            </li>
        </ul>
{% else %}
        <{{ property.type|lcfirst|snaked('-') }}-result #child{{ loop.index }} *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}" [group]="group" [entity]="entity.{{ propertyName }}"></{{ property.type|lcfirst|snaked('-') }}-result>
{% endif %}
{%- else %}
        <span *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}">{{ '{{ entity.'~propertyName~' }}' }}</span>
{% endif %}

{% endfor %}
</div>

<template [ngIf]="!inList">
{% for propertyName, property in resource.properties %}
{%- if propertyName == 'translations' %}
    <td *mlField="[entity, group, '{{ propertyName }}']">{{ '{{ entity.translations[appState.get(\'locale\')].title }}' }}</td>
{%- elseif property.type not in ['string', 'number', 'boolean', 'array'] %}
{% if property.isCollection %}
    <td *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}">
        <ul>
            <li *ngFor="let {{ property.type|lcfirst }} of entity.{{ propertyName }}|iterable">
                <{{ property.type|lcfirst|snaked('-') }}-result [inList]="true" [group]="group" [entity]="{{ property.type|lcfirst }}"></{{ property.type|lcfirst|snaked('-') }}-result>
            </li>
        </ul>
    </td>
{% else %}
    <{{ property.type|lcfirst|snaked('-') }}-result #child{{ loop.index }} *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}" [group]="group" [entity]="entity.{{ propertyName }}"></{{ property.type|lcfirst|snaked('-') }}-result>
{% endif %}
{%- else %}
    <td *mlField="[entity, group, '{{ propertyName }}']" class="ml-field {{ propertyName|lcfirst|snaked('-') }}">{{ '{{ entity.'~propertyName~' }}' }}</td>
{% endif %}

{% endfor %}
</template>