import { Component, Input, ViewContainerRef, ViewChildren, ViewEncapsulation } from '@angular/core';
import { {{ entity|ucfirst }}Service } from 'resultHeading.ts{ entity|lcfirst|snaked(';
import { {{ entity|ucfirst }} } from 'resultHeading.ts{ entity|lcfirst|snaked(';
{% set children = [] %}
{%- for propertyName, property in resource.properties %}
{%- if property.type not in ['string', 'number', 'boolean'] %}
{%- set children = children|merge([loop.index]) %}
{%- endif %}
{%- endfor -%}
{{ "\n" -}}

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-result-heading, [{{ entity|lcfirst|snaked('-') }}-result-heading]',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-result-heading.html',
    encapsulation: ViewEncapsulation.None,
    styleUrls: ['../../../assets/scss/components/_result-heading.scss'],
    host: { 'class': 'ml-result-heading {{ entity|lcfirst|snaked('-') }}-result-heading' }
})
export class {{ entity|ucfirst }}ResultHeading {
    @Input() group: string;
    entity: {{ entity|ucfirst }};
{% if children != [] %}
    @ViewChildren('child{{ children|join(", child")|raw }}', {read: ViewContainerRef}) resultHeadings: ViewContainerRef[];
{% endif %}

    constructor(private {{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {};

    ngOnInit() {
        this.entity = this.{{ entity|lcfirst }}Service.create();
    }

{% if children != [] %}
    ngAfterViewInit() {
        this.removeParentTags();
    }
{% endif %}

{% if children != [] %}
    removeParentTags() {
        this.resultHeadings.forEach((entityViewContainerRef) => {
            let resultElement = entityViewContainerRef.element.nativeElement;
            for (let element of resultElement.children) {
                resultElement.insertAdjacentElement('afterend', element);
            }
            resultElement.parentNode.removeChild(resultElement);
        });
    }
{% endif -%}
}
