{%- for classMetadata in metadata -%}
import { {{ classMetadata.shortName|ucfirst }}Service } from './{{ classMetadata.caretCase }}';
{% endfor %}
{{ '\n' }}
{%- for classMetadata in metadata -%}
export * from './{{ classMetadata.caretCase }}';
{% endfor %}

export var PROJECT_SERVICES = {
    {#{%- for classMetadata in metadata %}{{ loop.first ? '\n' }}    {{ classMetadata.shortName|ucfirst }}Service{{ not loop.last ? ',' }}{{ '\n' }}{% endfor %}];#}
    {%- for classMetadata in metadata %}{{ loop.first ? '\n' }}        "{{ classMetadata.caretCase }}": {{ classMetadata.shortName|ucfirst }}Service{{ not loop.last ? ',' }}{{ '\n' }}{% endfor %}};

export var PROJECT_SERVICES_IMPORTABLE = [
    {#{%- for classMetadata in metadata %}{{ loop.first ? '\n' }}    {{ classMetadata.shortName|ucfirst }}Service{{ not loop.last ? ',' }}{{ '\n' }}{% endfor %}];#}
    {%- for classMetadata in metadata %}{{ loop.first ? '\n' }}        {{ classMetadata.shortName|ucfirst }}Service{{ not loop.last ? ',' }}{{ '\n' }}{% endfor %}];
