import { Injector, Injectable, Inject } from '@angular/core';
import { Base{{ classMetadata.shortName|ucfirst }}Service } from '../base-services';

@Injectable()
export class {{ classMetadata.shortName|ucfirst }}Service extends Base{{ classMetadata.shortName|ucfirst }}Service {
    constructor (@Inject(Injector) protected injector: Injector) {
        super(injector);
    }
}
