import { Component, Input, ViewEncapsulation } from '@angular/core';
import { ActivatedRoute, Router } from '@angular/router';
import { TranslateService } from 'ng2-translate';
import { {{ entity|ucfirst }}Service } from 'edit.ts{ entity|lcfirst|snaked(';
import { {{ entity|ucfirst }} } from 'edit.ts{ entity|lcfirst|snaked(';

declare var Materialize: any;

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-edit',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-edit.html',
    encapsulation: ViewEncapsulation.None,
    styleUrls: ['../../../assets/scss/components/_edit.scss'],
    host: { 'class': 'ml-edit {{ entity|lcfirst|snaked('-') }}-edit' }
})
export class {{ entity|ucfirst }}Edit {
    id: string;
    group: string;
    formStatus: string = null;
    @Input() entity: {{ entity|ucfirst }};
    private subscribers: any[] = [];

    constructor(private route: ActivatedRoute, private router: Router, private translate: TranslateService,
                private {{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {
    };

    ngOnInit() {
        this.subscribers.push(this.route.data.map(data => data['group']).subscribe(group => this.group = group));
        this.fetchEntity();
    }

    ngOnDestroy() {
        for (let index in this.subscribers) {
            this.subscribers[index].unsubscribe();
        }
    }

    fetchEntity() {
        this.entity = this.{{ entity|lcfirst }}Service.create();

        this.subscribers.push(this.route.params.map(params => params['id']).subscribe(id => {
            this.id = id;

            if (this.id) {
                this.subscribers.push(
                    this.{{ entity|lcfirst }}Service.get(this.id).subscribe({{ entity }} => this.entity = {{ entity }})
                );
            }
        }));
    }

    onEntityChanges(result) {
        let messageKey: string = null;
        let icon: string = null;

        if (typeof result === 'string') {
            this.formStatus = 'error';
            messageKey = this.id ? '{{ entity|snaked('-') }}.form.edition.error' : '{{ entity|snaked('-') }}.form.creation.error';
            icon = '<i class="material-icons red-text">close</i>'
        } else {
            this.formStatus = 'success';
            this.router.navigate([this.id ? '../../list' : '../list'], {relativeTo: this.route});
            messageKey = this.id ? '{{ entity|snaked('-') }}.form.edition.success' : '{{ entity|snaked('-') }}.form.creation.success';
            icon = '<i class="material-icons green-text">check</i>';
        }

        this.translate.get(messageKey).subscribe((res: string) => {
            Materialize.toast(icon+'&nbsp;<span>'+res+'</span>', 4000);
        });
    }
}
