<md-card>
    <md-card-title color="primary" *ngIf="entity.id">{{ ('{{ \'form.label.edit\'|translate:{entity: \''~entity~'\'} }}')|raw }}</md-card-title>
    <md-card-title color="primary" *ngIf="!entity.id">{{ ('{{ \'form.label.create\'|translate:{entity: \''~entity~'\'} }}')|raw }}</md-card-title>
    <md-card-content>
        <div class="introduction">
            <p *ngIf="formStatus" [class.success]="formStatus === 'success'" [class.red-text]="formStatus === 'error'">
                <span *ngIf="formStatus === 'success'">{{ ('{{ \'form.label.edit.success\'|translate }}')|raw }}</span>
                <span *ngIf="formStatus === 'error'">{{ ('{{ \'form.label.edit.error\'|translate }}')|raw }}</span>
            </p>
        </div>
        <div class="buttons-container">
            <{{ entity|lcfirst|snaked('-') }}-form (entityChange)="onEntityChanges($event)" [group]="group" [entity]="entity"></{{ entity|lcfirst|snaked('-') }}-form>
        </div>
    </md-card-content>
</md-card>