<div *ngIf="entity && form" [mlForm]="form" [mlEntity]="entity" [mlGroup]="group" [mlFields]="fields">
{% for propertyName, property in resource.properties %}
{% include [
    'TofusteakAngularApiBundle:'~entity|ucfirst~'/Edit:_'~propertyName~'.html.twig',
    'TofusteakAngularApiBundle:'~property.type~'/Edit:field_type.html.twig',
    'TofusteakAngularApiBundle:Component/Edit:field.html.twig'
] %}
{% endfor %}

</div>
