import { Component, Input, SimpleChanges, ViewEncapsulation } from '@angular/core';
import { FormBuilder, ControlContainer, FormGroup } from '@angular/forms';
import { HateoasValidator } from 'ng-maggle/validators';
import { {{ entity|ucfirst }} } from 'embeddedForm.ts{ entity|lcfirst|snaked(';
import { {{ entity|ucfirst }}Service } from 'embeddedForm.ts{ entity|lcfirst|snaked(';

{% set formGroups = [] %}
{% for propertyName, property in resource.properties %}
{%- if property.type not in ['string', 'number', 'boolean'] %}
{% set formGroups = formGroups|merge([propertyName]) %}
{% endif %}
{% endfor %}

{% set selectItems = [] %}
{% for propertyName, property in resource.properties %}
{% if (property.isCollection or property.type not in ['string', 'number', 'boolean']) and propertyName != 'translations' %}
{% set selectItems = selectItems | merge([propertyName]) %}
{% endif %}
{% endfor %}

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-embedded-form',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-embedded-form.html',
    providers: [ ControlContainer ],
    encapsulation: ViewEncapsulation.None,
    styleUrls: ['../../../assets/scss/components/_embedded-form.scss'],
    host: { 'class': 'ml-embedded-form {{ entity|lcfirst|snaked('-') }}-embedded-form' }
})
export class {{ entity|ucfirst }}EmbeddedForm {
    @Input() fieldName: string = null;
    @Input() parentEntity: any;
    @Input() parentForm: FormGroup;
    @Input() group: string;
    @Input() fields: string[];
    _entity: {{ entity|ucfirst }};
    object: Object = Object;
    form: FormGroup;
    private subscribers: any[] = [];
    private selectData: any[] = [];

    constructor(private formBuilder: FormBuilder, private {{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {}

    @Input()
    set entity(entity: {{ entity|ucfirst }}) {
        this._entity = entity || this.entity || this.{{ entity|lcfirst }}Service.create({{ 'translation' in entity|lower ? '{ locale: this.fieldName }'}});
    }

    get entity() {
        return this._entity;
    }

    ngOnInit() {
        if (this.parentEntity && this.fieldName && !this.parentEntity[this.fieldName]) {
            setTimeout(() => this.parentEntity[this.fieldName] = this.entity, 0);
        }

        this.prepareForm();
    }

    ngOnDestroy() {
        for (let index in this.subscribers) {
            this.subscribers[index].unsubscribe();
        }
    }

    {#ngOnChanges(changes: SimpleChanges) {#}
        {#if (!changes['entity'].currentValue) {#}
            {#let entity = this.entity = changes['entity'].previousValue;#}
            {#if (typeof entity !== '{{ entity|ucfirst }}') {#}
                {#this.entity = this.{{ entity|lcfirst }}Service.create();#}
            {#}#}
        {#}#}

        {#if (this.parentEntity && this.fieldName) {#}
            {#setTimeout(() => {#}
                {#{% if 'translation' in entity|lower %}this.entity.locale = this.fieldName;{% endif %}{{ '' }}#}
                {#this.parentEntity[this.fieldName] = this.entity;#}
            {#}, 0);#}
        {#}#}
        {#this.prepareForm();#}
    {#}#}

    private getSelectFields() {
        return ['{{ selectItems | join("', '") | raw }}'];
    }

    private isSelectField(field) : boolean {
        return this.getSelectFields().indexOf(field) > -1;
    }

    private prepareForm() {
        if (this.group && this.entity) {
            let fields = Array.isArray(this.fields) ? this.fields : Object.keys(this.fields || []);
            let serializationGroup = fields.length ? fields : {{ entity|ucfirst }}.getSerializationGroup(this.group);
            this.form = this.fieldName !== null ? <FormGroup> this.parentForm.controls[this.fieldName] : this.parentForm;

            for (let index in serializationGroup) {
                {% if formGroups -%}
                if (['{{ formGroups | join("', '") | raw }}'].indexOf(serializationGroup[index]) > -1) {
                    this.form.addControl(serializationGroup[index], this.formBuilder.group({}, {validator: HateoasValidator.validate}));

                    for (let i of Object.keys(this.entity[serializationGroup[index]] || [])) {
                        let form = <FormGroup> this.form.controls[serializationGroup[index]];
                        form.addControl(i + '', this.formBuilder.group({}, HateoasValidator.validate));
                    }
                } else {
                    this.form.addControl(serializationGroup[index], this.formBuilder.control('', HateoasValidator.validate));
                }
                {%- else -%}
                this.form.addControl(serializationGroup[index], this.formBuilder.control('', HateoasValidator.validate));
                {%- endif %}{{ '' }}
            }
        }
    }

    public addItem(fieldName) {
        if (!this.entity[fieldName]) {
            this.entity[fieldName] = [];
        }

        let field = <FormGroup> this.form.controls[fieldName];
        this.entity[fieldName][this.entity[fieldName].length] = null;

        {% if formGroups -%}
        if (['{{ formGroups | join("', '") | raw }}'].indexOf(fieldName) > -1) {
            field.addControl((this.entity[fieldName].length-1)+'', this.formBuilder.group({}, {validator: HateoasValidator.validate}));
        } else {
            field.addControl((this.entity[fieldName].length-1)+'', this.formBuilder.control('', HateoasValidator.validate));
        }
        {%- else -%}
        field.addControl((this.entity[fieldName].length-1)+'', this.formBuilder.control('', HateoasValidator.validate));
        {%- endif %}{{ '' }}
    }

    public removeItem(fieldName, i) {
        this.entity[fieldName].splice(i, 1);
        let field = <FormGroup> this.form.controls[fieldName];
        field.removeControl((Object.keys(field.controls).length-1)+'');
    }
}
