{%- if property.type not in ['string', 'number', 'boolean', 'array'] %}
<div *mlField="'{{ propertyName }}'" class="ml-field">
    {% if property.isCollection %}
        {% if propertyName == 'translations' %}
            <md-tab-group>
                <md-tab *ngFor="let item of object.keys(form.controls.translations.controls); let i = index">
                    <template md-tab-label>{{ '{{ item }}' }}</template>
                    <template md-tab-content>
                        <{{ resource.translationClass|lcfirst|snaked('-') }}-embedded-form [fields]="fields?.{{ propertyName }}" [group]="group" [parentEntity]="entity.{{ propertyName }}" [fieldName]="item" [entity]="entity.{{ propertyName }}[item]" [parentForm]="form.controls['{{ propertyName }}']"></{{ resource.translationClass|lcfirst|snaked('-') }}-embedded-form>
                    </template>
                </md-tab>
            </md-tab-group>
            <ml-error control="translations"></ml-error>
        {% elseif property.type == entity|ucfirst %}
            <p>
                <label>{{ ('{{ \''~entity|snaked('-')~'.field.'~propertyName|snaked('-')~'.label\'|translate:{number: i} }}')|raw }}</label>
                <span *ngIf="!isSelectField('{{ propertyName }}')" class="btn-floating waves-effect waves-light red" (click)="addItem('{{ propertyName }}')"><i class="material-icons">add</i></span>
            </p>

            <{{ property.type|lcfirst|snaked('-') }}-select *ngIf="isSelectField('{{ propertyName }}')" [multiple]="true" [entity]="entity" fieldName="{{ propertyName }}"></{{ property.type|lcfirst|snaked('-') }}-select>

            <div *ngIf="!isSelectField('{{ propertyName }}')">
                <div class="sub-form" *ngFor="let item of object.keys(form.controls.{{ propertyName }}.controls); let i = index">
                    <{{ property.type|lcfirst|snaked('-') }}-select [entity]="entity.{{ propertyName }}" [fieldName]="item"></{{ property.type|lcfirst|snaked('-') }}-select>

                    <div class="remove-button-container">
                        <span class="btn-floating waves-effect waves-light red" (click)="removeItem('{{ propertyName }}', i)"><i class="material-icons">close</i></span>
                    </div>
                </div>
            </div>
            <ml-error control="{{ propertyName }}"></ml-error>

        {% else %}
            <p>
                <label>{{ ('{{ \''~entity|snaked('-')~'.field.'~propertyName|snaked('-')~'.label\'|translate:{number: i} }}')|raw }}</label>
                <span *ngIf="!isSelectField('{{ propertyName }}')" class="btn-floating waves-effect waves-light red" (click)="addItem('{{ propertyName }}')"><i class="material-icons">add</i></span>
            </p>

        <{{ property.type|lcfirst|snaked('-') }}-select *ngIf="isSelectField('{{ propertyName }}')" [multiple]="true" [entity]="entity" fieldName="{{ propertyName }}"></{{ property.type|lcfirst|snaked('-') }}-select>

            <div *ngIf="!isSelectField('{{ propertyName }}')">
                <div class="sub-form" *ngFor="let item of object.keys(form.controls.{{ propertyName }}.controls); let i = index">
                    <{{ property.type|lcfirst|snaked('-') }}-embedded-form [group]="group" [parentEntity]="entity.{{ propertyName }}" [fieldName]="i" [entity]="entity.{{ propertyName }}[item]" [parentForm]="form.controls['{{ propertyName }}']"></{{ property.type|lcfirst|snaked('-') }}-embedded-form>

                    <div class="remove-button-container">
                        <span class="btn-floating waves-effect waves-light red" (click)="removeItem('{{ propertyName }}', i)"><i class="material-icons">close</i></span>
                    </div>
                </div>
            </div>
            <ml-error control="{{ propertyName }}"></ml-error>
        {% endif %}
    {% else %}
        <label>{{ ('{{ \''~entity|snaked('-')~'.field.'~propertyName|snaked('-')~'.label\'|translate }}')|raw }}</label>
        <{{ property.type|lcfirst|snaked('-') }}-select *ngIf="isSelectField('{{ propertyName }}')" [multiple]="false" [entity]="entity" fieldName="{{ propertyName }}"></{{ property.type|lcfirst|snaked('-') }}-select>
        <div class="sub-form">
            <{{ property.type|lcfirst|snaked('-') }}-embedded-form [fields]="fields?.{{ propertyName }}" [group]="group" [parentEntity]="entity" fieldName="{{ propertyName }}" [entity]="entity.{{ propertyName }}" [parentForm]="form"></{{ property.type|lcfirst|snaked('-') }}-embedded-form>
            <ml-error control="{{ propertyName }}"></ml-error>
        </div>
    {% endif %}
</div>
{%- else %}
    <div *mlField="'{{ propertyName }}'" class="ml-field">
        {% if property.type == 'boolean' -%}
            <md-slide-toggle [formControl]="form.controls['{{ propertyName }}']" [(ngModel)]="entity.{{ propertyName }}">{{ ('{{ \''~entity|snaked('-')~'.field.'~propertyName|snaked('-')~'.label\'|translate }}')|raw }}</md-slide-toggle>
        {%- else %}
            <md-input [formControl]="form.controls['{{ propertyName }}']" [(ngModel)]="entity.{{ propertyName }}" [placeholder]="{{ ('\''~entity|snaked('-')~'.field.'~propertyName|snaked('-')~'.label\'|translate')|raw }}"></md-input>
        {% endif %}{{ '' }}
        <ml-error control="{{ propertyName }}"></ml-error>
    </div>
{% endif %}
