<form (submit)="submit()" [formGroup]="form" materialize>
    <{{ entity|lcfirst|snaked('-') }}-embedded-form [fields]="fields" [group]="group" [entity]="entity" [parentForm]="form"></{{ entity|lcfirst|snaked('-') }}-embedded-form>

    <div class="card-action center-align" *ngIf="options.submitOn === 'formSubmit'">
        <button type="submit" class="md-primary btn" [disabled]="!form.valid">{{ '{{ \'form.submit\'|translate }}'|raw }}</button>
    </div>
</form>
