import { Component, EventEmitter, Input, Output, ViewEncapsulation } from '@angular/core';
import { FormBuilder } from '@angular/forms';
import { HateoasValidator, HateoasHandler } from 'ng-maggle/validators';
import { {{ entity|ucfirst }}Service } from 'form.ts{ entity|lcfirst|snaked(';
import { {{ entity|ucfirst }} } from 'form.ts{ entity|lcfirst|snaked(';

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-form',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-form.html',
    providers: [ FormBuilder ],
    encapsulation: ViewEncapsulation.None,
    styleUrls: ['../../../assets/scss/components/_form.scss'],
    host: { 'class': 'ml-form {{ entity|lcfirst|snaked('-') }}-form' }
})
export class {{ entity|ucfirst }}Form {
    formStatus: string = null;
    form;
    @Output() entityChange: EventEmitter<any> = new EventEmitter<any>();
    @Input() entity: {{ entity|ucfirst }};
    @Input() group: string;
    @Input() fields: string[];
    private _options: Object = { submitOn: 'formSubmit' };
    private subscribers: any[] = [];

    constructor(private formBuilder: FormBuilder, private {{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {};

    ngOnInit() {
        this.entity = this.entity || this.{{ entity|lcfirst }}Service.create();
        this.form   = this.formBuilder.group({}, {validator: HateoasValidator.validate});

        if (this._options['submitOn'] === 'change') {
            this.subscribers.push(this.form.valueChanges.subscribe(() => this.submit()));
        }
    }

    @Input()
    set options(options) {
        for (let key in options) {
            this._options[key] = options[key];
        }
    };

    get options() {
        return this._options;
    }

    ngOnDestroy() {
        for (let index in this.subscribers) {
            this.subscribers[index].unsubscribe();
        }
    }

    submit() {
        if (this.form.valid) {
            let subscriber = null;

            if (this.entity.id) {
                subscriber = this.{{ entity|lcfirst }}Service.put(this.entity.id, this.entity, this.group);
            } else {
                subscriber = this.{{ entity|lcfirst }}Service.postCollection(this.entity, this.group);
            }

            this.subscribers.push(subscriber.subscribe(
                {{ entity }} => {
                    this.formStatus = 'success';
                    this.entityChange.emit({{ entity }});
                },
                err => {
                    this.formStatus = 'error';
                    HateoasHandler.handle(this.form, err);
                    this.entityChange.emit('error');
                }
            ));
        }
    };
}
