{% verbatim %}
<ng-select *ngIf="hateoasCollection?.collection"
           [allowClear]="true"
           [items]="data"
           [multiple]="multiple"
           (selected)="selected($event)"
           (removed)="removed($event)"
           placeholder="{{ 'form.select2'|translate }}">
</ng-select>
{% endverbatim %}
