{# @todo text field to be a dynamic field -#}
import { Component, Input, ViewEncapsulation } from '@angular/core';
import { HateoasCollection } from 'ng-maggle/hateoas/hateoas-collection.model';
import { AppState } from '../../app.service';
import { {{ entity|ucfirst }}Service } from 'select.ts{ entity|lcfirst|snaked(';

@Component({
    selector: '{{ entity|lcfirst|snaked('-') }}-select',
    templateUrl: './{{ entity|lcfirst|snaked('-') }}-select.html',
    encapsulation: ViewEncapsulation.None,
    styleUrls: ['../../../assets/scss/components/_select.scss'],
    host: { 'class': 'ml-select {{ entity|lcfirst|snaked('-') }}-select' }
})
export class {{ entity|ucfirst }}Select {
    @Input() entity;
    @Input() fieldName;
    @Input() multiple;
    hateoasCollection: HateoasCollection;
    data: Array<any> = [];
    private _subscribers: any[] = [];

    constructor(private appState: AppState, private {{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {};

    ngOnInit() {
        this._subscribers.push(this.{{ entity|lcfirst }}Service.getCollection().subscribe(data => {
            this.hateoasCollection = data;
            for (let index in this.hateoasCollection.collection) {
                this.data.push({
                    id: this.hateoasCollection.collection[index].id,
                    text: this.hateoasCollection.collection[index].translations[this.appState.get("locale")]["title"]
                });
            }
        }));
    }

    private selected(value:any) {
        if (this.multiple) {
            this.entity[this.fieldName] = this.entity[this.fieldName] || [];
            this.entity[this.fieldName].push(value.id);
        } else {
            this.entity[this.fieldName] = value.id;
        }
    }

    private removed(value:any) {
        if (this.multiple) { // && this.entity[this.fieldName]
            let index = this.entity[this.fieldName].indexOf(value.id);
            if (index > -1) {
                this.entity[this.fieldName].splice(index, 1);
            }
        } else {
            delete this.entity[this.fieldName];
        }
    }

    {#private refreshValue(value:any) {#}
        {#if (this.multiple) { // && this.entity[this.fieldName]#}
            {#this.entity[this.fieldName].push(value.id);#}
        {#} else }#}
            {#this.entity[this.fieldName] = value.id;#}
        {#}#}
    {#}#}

    ngOnDestroy() {
        for (let index in this._subscribers) {
            this._subscribers[index].unsubscribe();
        }
    }

    onChange(item) {
        this.entity[this.fieldName] = item;
    }
}
