    {{ method.name }}({{ method.method == 'GET' and not method.idParameters|length ? 'params?: { order: {} }' }}{{ method.parameters|join(', ')|raw }}{{ method.method == 'PUT' or method.method == 'POST' ? ', group' }}): Observable<{{ method.method == 'GET' and not method.idParameters|length ? 'HateoasCollection' : resource.name|ucfirst }}> {
        {% for idParameter in method.idParameters -%}
        {{- (idParameter)|raw }} = isNaN({{ idParameter|raw }}) ? this.idPipe.transform({{ idParameter|raw }}) : {{ idParameter|raw }};
        {% endfor -%}
        let route = this.baseUrl + {{ method.path|raw }};

        return this.client.{{ method.method|lower|raw }}(route{{ method.method == 'PUT' or method.method == 'POST' ? (', '~resource.name|lower~'.toJson(group), this.httpOptions')|raw }}{{ method.method == 'GET' and not method.idParameters|length ? ', params ? { search: objectToParams(params) } : {}' }}).map(res => {
            {% if method.method == 'GET' and not method.idParameters|length %}
                return new HateoasCollection(this.populateCollection(res), new Pager().populate(res), params);
            {% else %}
                let object = new {{ resource.name }}(this.injector);
                return object.populate(res);
            {% endif %}
        });
    }{{ '\n' -}}
