{{ include('@maggle/BaseService/imports.ts.twig') }}

export class Base{{ classMetadata.shortName|ucfirst }}Service extends MlService {
    {{- ('\n'~include('@maggle/BaseService/common.ts.twig'))|raw }}

{% if classMetadata.path %}
    getCollection(hateoasCollection: HateoasCollection = null): Observable<HateoasCollection> {
        hateoasCollection = hateoasCollection || new HateoasCollection(this);

        return hateoasCollection.fetchCollection();
    }

    post(id, {{ classMetadata.shortName|lcfirst }}, group): Observable<{{ classMetadata.shortName|ucfirst }}> {
        return id ? this.put(id, {{ classMetadata.shortName|lcfirst }}, group) : this.postCollection({{ classMetadata.shortName|lcfirst }}, group);
    }

    postCollection({{ classMetadata.shortName|lcfirst }}, group): Observable<{{ classMetadata.shortName|ucfirst }}> {
        let route = this.baseUrl + this.entityPath;

        return this.http.post(route, {{ classMetadata.shortName|lcfirst }}.toJson(group), this.httpOptions).map(res => {
            let object = new {{ classMetadata.shortName|ucfirst }}(this.injector);
            return object.populate(res);
        });
    }

    get(id): Observable<{{ classMetadata.shortName|ucfirst }}> {
        id = isNaN(id) ? this.idPipe.transform(id) : id;
        let route = this.baseUrl + this.entityPath + '/' + id;

        return this.http.get(route).map(res => {
            let object = new {{ classMetadata.shortName|ucfirst }}(this.injector);
            return object.populate(res);
        });
    }

    put(id, {{ classMetadata.shortName|lcfirst }}, group): Observable<{{ classMetadata.shortName|ucfirst }}> {
        id = isNaN(id) ? this.idPipe.transform(id) : id;
        let route = this.baseUrl + this.entityPath + '/' + id;

        return this.http.put(route, {{ classMetadata.shortName|lcfirst }}.toJson(group), this.httpOptions).map(res => {
            let object = new {{ classMetadata.shortName|ucfirst }}(this.injector);
            return object.populate(res);
        });
    }

    delete(id): Observable<Object> {
        id = isNaN(id) ? this.idPipe.transform(id) : id;
        let route = this.baseUrl + this.entityPath + '/' + id;

        return this.http.delete(route);
    }
{% endif %}
}
