    public entityPath: string = '/{{ classMetadata.path }}';

    constructor(protected injector: Injector) {
        super(injector);
    }

    getModel() {
        return {{ classMetadata.shortName|ucfirst }};
    }

    create(json = null) {
        let object = new {{ classMetadata.shortName|ucfirst }}(this.injector);

        if (json) {
            object.populate(json);
        }

        return object;
    }
