import { HateoasCollection, objectToParams, Pager } from '@tofusteak/ng-maggle/hateoas';
import { RequestOptionsArgs, Headers, Response } from '@angular/http';
import { Injector } from '@angular/core';
import { isNullOrUndefined, isArray } from "util";
{#import 'rxjs/add/operator/share';#}
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/map';
import { MlEntity } from '@tofusteak/ng-maggle/models/ml-entity';
import { MlService } from '@tofusteak/ng-maggle/ml-service';
import { Metadata } from '@tofusteak/ng-maggle/models/metadata';
import { {{ classMetadata.shortName|ucfirst }} } from '../models';
