import { Injectable, Injector, Inject } from "@angular/core";

{%- for classMetadata in metadata -%}
export { Base{{ classMetadata.shortName|ucfirst }}Service } from './{{ classMetadata.caretCase }}';
{% endfor %}
