import { NgModule, ModuleWithProviders } from '@angular/core';

{% set processed = [] -%}
{% for role in groups|keys -%}
{% for entity in groups[role]|keys -%}
{% for action in groups[role][entity]|keys -%}
{% if entity|ucfirst ~ action|ucfirst not in processed -%}
import { {{ entity|ucfirst ~ action|ucfirst }} } from 'module.ts{ entity|snaked(';
{% if action == 'edit' -%}
import { {{ entity|ucfirst }}EmbeddedForm } from 'module.ts{ entity|snaked(';
import { {{ entity|ucfirst }}Form } from 'module.ts{ entity|snaked(';
import { {{ entity|ucfirst }}Select } from 'module.ts{ entity|snaked(';
{% endif -%}
{% if action == 'show' -%}
import { {{ entity|ucfirst }}EmbeddedShow } from 'module.ts{ entity|snaked(';
{% endif -%}
{% if action == 'list' -%}
import { {{ entity|ucfirst }}Filter } from 'module.ts{ entity|snaked(';
import { {{ entity|ucfirst }}Result } from 'module.ts{ entity|snaked(';
import { {{ entity|ucfirst }}ResultHeading } from 'module.ts{ entity|snaked(';
{% endif -%}
{% set processed = processed|merge([entity|ucfirst ~ action|ucfirst]) -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endfor %}
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
import { InternalFormsSharedModule } from '@angular/forms/src/directives';
import { TranslateModule } from 'ng2-translate';
import { ENV_PROVIDERS } from './environment';
import { APP_RESOLVER_PROVIDERS } from './app.resolver';
import { MdModule } from './md.module';
import { MAGGLE_PIPES } from '../../lib/ng-maggle/pipes';
import { Pagination } from '../../lib/ng-maggle/hateoas/pagination.component';
import { ML_DIRECTIVES, ML_COMPONENTS } from '../../lib/ng-maggle/index';
import { UPLOAD_DIRECTIVES } from 'ng2-uploader';
import {SelectModule} from "ng2-select";
import {UserLogin} from "./user/login/user-login";
import {CKEditorModule, CKEditorComponent} from "ng2-ckeditor";
import {RouterModule} from "@angular/router";
import {RatingModule} from "ng2-rating";

@NgModule({
    declarations: [
{%- set processed = [] -%}
{% set first = true -%}
{% for role in groups|keys -%}
{% for entity in groups[role]|keys -%}
{% for action in groups[role][entity]|keys -%}
{% if entity|ucfirst ~ action|ucfirst not in processed -%}
{{ first ? '' : ',' }}
        {{ entity|ucfirst ~ action|ucfirst -}},
{% if action == 'edit' %}
        {{ entity|ucfirst }}EmbeddedForm,
        {{ entity|ucfirst }}Select,
        {{ entity|ucfirst }}Form{{ '' -}}
{% endif -%}
{% if action == 'show' %}
        {{ entity|ucfirst }}EmbeddedShow{{ '' -}}
{% endif -%}
{% if action == 'list' %}
        {{ entity|ucfirst }}Filter,
        {{ entity|ucfirst }}Result,
        {{ entity|ucfirst }}ResultHeading{{ '' -}}
{% endif -%}
{% set first = false -%}
{% set processed = processed|merge([entity|ucfirst ~ action|ucfirst]) -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endfor %},
        Pagination,
        ML_DIRECTIVES,
        ML_COMPONENTS,
        MAGGLE_PIPES,
        UPLOAD_DIRECTIVES,
        UserLogin
    ],
    imports: [ // import Angular's modules
        BrowserModule,
        FormsModule,
        ReactiveFormsModule,
        InternalFormsSharedModule,
        MdModule,
        TranslateModule,
        SelectModule,
        CKEditorModule,
        RouterModule,
        RatingModule
    ],
    providers: [ // expose our Services and Providers into Angular's dependency injection
        ENV_PROVIDERS,
        APP_RESOLVER_PROVIDERS
    ]
})
export class CrudModule {
    static forRoot(): ModuleWithProviders {
        return {
            ngModule: CrudModule
        };
    }
}
