import { Routes, RouterModule } from '@angular/router';
import { Home } from './home';
import { NoContent } from './no-content';

{% set processed = [] -%}
{% for role in groups|keys -%}
{% for entity in groups[role]|keys -%}
{% for action in groups[role][entity]|keys -%}
{% if entity|ucfirst ~ action|ucfirst not in processed -%}
import { {{ entity|ucfirst ~ action|ucfirst }} } from 'router.ts{ entity|snaked(';
{% set processed = processed|merge([entity|ucfirst ~ action|ucfirst]) -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endfor %}

export const ROUTES: Routes = [
    {% for role in groups|keys -%}
    { path: '{{ role }}', children: [
            {%- for entity in groups[role]|keys %}
            {{- '' }}
            {
                path: '{{ entity|snaked('-') }}',
                children: [
                    {%- for action in groups[role][entity]|keys %}
                    {%- if action == 'edit' %}
                    {{- '' }}
                    { path: 'create', component: {{ entity|ucfirst ~ action|ucfirst }}, data: { group: '{{ groups[role][entity][action] }}' } },
                    { path: 'edit/:id', component: {{ entity|ucfirst ~ action|ucfirst }}, data: { group: '{{ groups[role][entity][action] }}' } }{{ loop.last ? '' : ',' }}
                    {%- else %}
                    {{- '' }}
                    { path: '{{ action|snaked('-') }}{{ action == 'show' ? '/:id' }}', component: {{ entity|ucfirst ~ action|ucfirst }}, data: { group: '{{ groups[role][entity][action] }}' } }{{ loop.last ? '' : ',' }}
                    {%- endif %}
                    {%- endfor %}{{ '' }}
                ]
            }{{ loop.last ? '' : ',' }}
            {%- endfor %}{{ '' }}
        ]
    },
    {% endfor -%}
    { path: '', component: Home },
    { path: '**', component: Home },
];
