@Component({
    selector: '{{ entity|lower }}-show',
    template: require('./list.html'),
    directives: [
        CORE_DIRECTIVES,
        FORM_DIRECTIVES,
        ROUTER_DIRECTIVES,
        MdCard,
        MD_INPUT_DIRECTIVES,
        Pagination,{{ '\n' }}
        {%- for action in actions %}
        Partial{{ action|ucfirst }}Component{{ loop.last ? '' : ',\n' }}
        {%- endfor %}{{ '' }}
    ]
})
