import { Component } from '@angular/core';
import { CORE_DIRECTIVES, FORM_DIRECTIVES, FormBuilder } from '@angular/common';
import { ActivatedRoute } from '@angular/router';
import { Pager, Pagination, HateoasCollection } from '../../../hateoas';
import {{ '{ '~entity|ucfirst }}Service } from '../../../../services/{{ entity|lower }}';
import {{ '{ '~entity|ucfirst~' }' }} from 'imports.ts{ entity|lower }}';
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/debounceTime';
import 'rxjs/add/operator/distinctUntilChanged';
import { MD_INPUT_DIRECTIVES } from '@angular2-material/input/input';
import { MdCard } from '@angular2-material/card/card';
{% for action in actions %}
import {{ '{ Partial'~action|ucfirst }}Component } from './partial_{{ action }}';
{% endfor %}
