{% spaceless %}
    {% macro renderFields(resources, entity, prefix) %}
        {%- for field,type in resources[entity|ucfirst].filterFields -%}
            {{ '\n                ' }}<md-input placeholder="{{ field|ucfirst|replace({'.':' '}) }}" ngControl="{{ field|replace({'.':'_'}) }}" class="col s{{ (12/resources[entity|ucfirst].filterFields|length)|round(0, 'floor') }}"></md-input>
        {%- endfor -%}
    {% endmacro %}
{% endspaceless -%}
<md-card class="container row amber lighten-1">
    <md-card-title color="primary">Filters</md-card-title>
    <md-card-content>
        <form [ngFormModel]="filterForm" class="row">
            {{- _self.renderFields(resources, entity, entity|lcfirst) }}
        </form>
    </md-card-content>
</md-card>

<md-card class="container row">
    <md-card-title color="primary">{{ entity|ucfirst }} list</md-card-title>
    <md-card-content *ngIf="hateoasCollection">
        {% for action in actions -%}
            <partial-{{ action }} *ngIf="action === '{{ action }}'" (onSort)="onSort($event)" [hateoasCollection]="hateoasCollection"></partial-{{ action }}>
        {%- endfor -%}{{ '' }}
    </md-card-content>
    <md-card-actions>
        <pagination [(hateoasCollection)]="hateoasCollection" [modelService]="_{{ entity }}Service" class="center-align"></pagination>
    </md-card-actions>
</md-card>
