{{ include('TofusteakAngularApiBundle:Component/List:imports.ts.twig') }}

{{ include('TofusteakAngularApiBundle:Component/List:annotations.ts.twig') }}
export class {{ role|ucfirst }}{{ entity|ucfirst }}ListComponent {
    action: String;
    hateoasCollection: HateoasCollection;
    filterForm: any;
    {{ entity|lcfirst }}: {{ entity|ucfirst }};
    private _subscribers: any[] = [];

    constructor(private formBuilder: FormBuilder, private route: ActivatedRoute,
        private _{{ entity|lcfirst }}Service: {{ entity|ucfirst }}Service) {
        this.{{ entity|lcfirst }} = _{{ entity|lcfirst }}Service.create();
    };

    ngOnInit() {
        this._subscribers.push(this.route.params.map(params => params['action']).subscribe(action => this.action = action));
        this._subscribers.push(this.{{ entity|lcfirst }}Service.cget().subscribe(data => this.hateoasCollection = data));
        this.filterForm = this.formBuilder.group({
        {% for field, type in resources[entity|ucfirst].filterFields -%}
        {{ '    ' }}{{ field|replace({'.':'_'}) }} : []{{ loop.last ? '' : ',' }}
        {% endfor -%}
        });

        for (let key in this.filterForm.controls) {
            this.filterForm.controls[key].valueChanges
                .debounceTime(200)
                .distinctUntilChanged()
                .subscribe(
                    value => {
                        if (!value) {
                            delete this.hateoasCollection.params[key];
                        } else {
                            this.hateoasCollection.params[key] = value;
                        }
                        this.getList();
                    }
                );
        }
    }

    ngOnDestroy() {
        for (let index in this._subscribers) {
            this._subscribers[index].unsubscribe();
        }
    }

    onSort(param: string) {
        this.hateoasCollection.setOrder(param);
        this.getList();
    }

    getList() {
        this.{{ entity|lcfirst }}Service.cget(this.hateoasCollection.params).subscribe(
            data => this.hateoasCollection = data
        );
    }
}
