@Component({
    selector: 'partial-{{ action }}[hateoasCollection]',
    template: require('./partial_{{ action|snaked('_') }}.html'),
    directives: [
        CORE_DIRECTIVES,
        ROUTER_DIRECTIVES
    ]
})
