{% spaceless %}
{% macro renderFields(resources, entities, entity, prefix) %}
    {%- for field in entities[entity|ucfirst] -%}
        {%- if resources[entity|ucfirst].properties[field].type in entities|keys -%}
            {{- _self.renderFields(resources, entities, resources[entity|ucfirst].properties[field].type, prefix|default()~'.'~field) -}}
        {%- else -%}
            {{ '\n            ' }}<td>{{ '{{ '~prefix|default()~'.'~field~' }}' -}}</td>
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% macro renderHeads(resources, entities, entity, prefix, baseEntity) -%}
    {%- for field in entities[entity|ucfirst] -%}
        {%- if resources[entity|ucfirst].properties[field].type in entities|keys -%}
            {{- _self.renderHeads(resources, entities, resources[entity|ucfirst].properties[field].type, (prefix|default() ? (prefix|default()~' '))~field, baseEntity) -}}
        {%- else -%}
            {%- if (prefix|default() ? (prefix|default()~'.'))~field not in resources[baseEntity|ucfirst].sortableFields|keys -%}
            {{ '\n            ' }}<th>{{ ((prefix|default() ? (prefix|default()~' '))~field)|ucfirst }}</th>
            {%- else -%}
            {{ '\n            ' }}<th (click)="sort('{{ (prefix|default() ? (prefix|default()~'.'))~field }}')" [class]="sortableClass('{{ (prefix|default() ? (prefix|default()~'.'))~field }}')">
                {{ ((prefix|default() ? (prefix|default()~' '))~field)|ucfirst }}
                <i class="material-icons desc">arrow_drop_down</i>
                <i class="material-icons asc">arrow_drop_up</i>
            </th>
            {% endif %}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}
{% endspaceless -%}
<table class="striped">
    <thead>
        <tr>
            {{- _self.renderHeads(resources, entities, entity, null, entity) }}
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="#{{ entity }} of hateoasCollection.collection">
            {{- _self.renderFields(resources, entities, entity, entity|lcfirst, entity) }}
        </tr>
    </tbody>
</table>