{{ include('TofusteakAngularApiBundle:Component/List:partial_imports.ts.twig') }}
{{ include('TofusteakAngularApiBundle:Component/List:partial_annotations.ts.twig') }}
export class Partial{{ action|ucfirst }}Component {
    @Input() hateoasCollection: HateoasCollection;
    @Output() onSort: EventEmitter<string> = new EventEmitter<string>();

    sort(param: string) {
        this.onSort.emit(param);
    }

    sortableClass(param: string) {
        let classes = 'sortable';

        if (this.hateoasCollection.params.hasOwnProperty('order') && this.hateoasCollection.params.order.hasOwnProperty(param)) {
            classes += ' ' + this.hateoasCollection.params.order[param].toLowerCase();
        }

        return classes;
    }
}
