{{ include('@maggle/BaseModel/imports.ts.twig') -}}

export class Base{{ classMetadata.shortName|ucfirst }} extends MlEntity {
  static metadata = {
{% for attributeMetadata in classMetadata.attributesMetadata %}
    {{ attributeMetadata.name }}: new Metadata({{ attributeMetadata.options ? (attributeMetadata.options|json_encode()|replace({'"':'\'', "\n":""}))|raw }}){{ loop.last ? '' : ',' }}
{% endfor %}
  };

{% for attributeMetadata in classMetadata.attributesMetadata -%}
{% if attributeMetadata.type|snaked('-') in entitiesNameList %}
{% set collectionMark = attributeMetadata.isCollection ? '[]' : '' %}
  {{ attributeMetadata.name }}: {{ 'string'~collectionMark~(attributeMetadata.type ? '|')~metadata[attributeMetadata.type].shortName|ucfirst~collectionMark }};
{% elseif attributeMetadata.doctrineType in ['number', 'float', 'smallint', 'integer'] %}
    _{{ attributeMetadata.name }}: number;

    set {{ attributeMetadata.name }}({{ attributeMetadata.name }}: any) {
        this._{{ attributeMetadata.name }} = !isNullOrUndefined({{ attributeMetadata.name }}) ? parse{{ attributeMetadata.doctrineType == 'float' ? 'Float' : 'Int' }}({{ attributeMetadata.name }}) : null;
    }

    get {{  attributeMetadata.name }}(): any {
        return !isNullOrUndefined(this._{{ attributeMetadata.name }}) ? this._{{ attributeMetadata.name }} : null;
    }
{% elseif  attributeMetadata.name == 'translations' %}
    translations: {} = {fr: null, en: null};
{% else %}
{% set collectionMark = attributeMetadata.isCollection ? '[]' : '' %}
    {{ attributeMetadata.name }}: {{ ((attributeMetadata.type in metadata ? 'string'~collectionMark~'|'~metadata[attributeMetadata.type].shortName~collectionMark : (attributeMetadata.type ? attributeMetadata.type : 'string'))) }}{{- attributeMetadata.type == 'boolean' ? ' = false' : '' }};
{% endif %}

{% endfor -%}{{ '' }}
    constructor (protected injector: Injector) {
        super(injector);
    }{{ "\n\n" }}
    {{- include('@maggle/BaseModel/methods.ts.twig') -}}
}
