import { Injector } from '@angular/core';
import { isNullOrUndefined, isArray } from "util";
{#import 'rxjs/add/operator/share';#}
import { Observable } from 'rxjs/Observable';
import { MlEntity } from '@tofusteak/ng-maggle/models/ml-entity';
import { Metadata } from '@tofusteak/ng-maggle/models/metadata';
import { {{ classMetadata.shortName|ucfirst }} } from '../models';
import { EntityManager } from "@tofusteak/ng-maggle/services/entity-manager.service";{{ "\n" }}
import { AppConfig } from "../../app/app.config";{{ "\n" }}
{%- set imported = [] -%}
{% for attributeMetadata in classMetadata.attributesMetadata -%}
{% if attributeMetadata.type|snaked('-') in entitiesNameList and classMetadata.caretCase != attributeMetadata.type and attributeMetadata.type not in imported %}
import { {{ metadata[attributeMetadata.type].shortName|ucfirst }} } from '../models';{{ "\n" }}
{%- set imported = imported|merge([attributeMetadata.type]) -%}
{%- endif %}
{% endfor %}
{{ "\n" }}
