{%- for attributeMetadata in classMetadata.attributesMetadata -%}
{% if attributeMetadata.type|snaked('-') in entitiesNameList and attributeMetadata.isCollection == false %}
    get{{ attributeMetadata.name|ucfirst }}(): Observable<{{ metadata[attributeMetadata.type].shortName|ucfirst }}> {
        return this.injector.get(EntityManager).get('{{ attributeMetadata.type }}').get(this.{{ attributeMetadata.name|lcfirst }}).map(res => {
            this.{{ attributeMetadata.name }} = res;
            return res;
        });
    }{{ "\n" }}
{% endif %}
{% endfor %}

    static getSerializationGroups(): Object {
        {%- if noVotersGroups is defined %}{{ '' }}
        return {{ noVotersGroups|json_encode(constant('JSON_PRETTY_PRINT'))|replace({'"':'\'', "\n":"\n        "})|raw }};
        {%- else %}{{ '' }}
        return {};
        {%- endif -%}{{ '' }}
    }

    static getSerializationGroup(group: string): string[] {
        let splittedGroup = group.split('.');
        let roles = AppConfig.rolesHierarchy().getReachableRoles([splittedGroup[1]]);
        let serializationGroup = [];
        for (let role of roles) {
            splittedGroup[1] = role;
            let fields = {{ classMetadata.shortName|ucfirst }}.getSerializationGroups()[splittedGroup.join('.')];
            if (fields) {
                serializationGroup = serializationGroup.concat(fields);
                serializationGroup = serializationGroup.filter(function (item, pos) {return serializationGroup.indexOf(item) == pos});
            }
        }

        return serializationGroup.length ? serializationGroup : ['id'];
    }

    public getSerializationGroups(): Object {
        return {{ classMetadata.shortName|ucfirst }}.getSerializationGroups();
    }

    public getSerializationGroup(group: string): string[] {
        return {{ classMetadata.shortName|ucfirst }}.getSerializationGroup(group);
    }

    public getEntityName(): string {
        return '{{ classMetadata.caretCase }}';
    }

    static getMetadata(fieldName: string): Metadata {
        return {{ classMetadata.shortName }}.metadata.hasOwnProperty(fieldName) ? {{ classMetadata.shortName }}.metadata[fieldName] : new Metadata();
    }

    public getMetadata(fieldName: string): Metadata {
        return {{ classMetadata.shortName }}.getMetadata(fieldName);
    }
