import { Injector } from '@angular/core';
import { Base{{ classMetadata.shortName|ucfirst }} } from '../base-models';

export class {{ classMetadata.shortName|ucfirst }} extends Base{{ classMetadata.shortName|ucfirst }} {
    constructor (protected injector: Injector) {
        super(injector);
    }
}
