import { Injectable, Injector, Inject } from "@angular/core";

{%- for enum in enumMetadata -%}
import { {{ enum.shortName|ucfirst }} } from './{{ enum.caretCase }}';
{% endfor %}

{%- for enum in enumMetadata -%}
export { {{ enum.shortName|ucfirst }} } from './{{ enum.caretCase }}';
{% endfor %}

export var PROJECT_ENUMS = {
{%- for enum in enumMetadata %}{{ loop.first ? '\n' }}        "{{ enum.caretCase }}": {{ enum.shortName|ucfirst }}{{ not loop.last ? ',' }}{{ '\n' }}{% endfor %}};
